*{
    margin: 0;
}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    height: 50px;

}
.content{

    height: 100vh;
    display: flex;
    justify-content: center;
}
.header p2{
    font-size: 17pt;
    padding-left: 280px;
    padding-top: 11px;
    display: block;
   font-weight: bold;
}
.form{
width: 900px;
   /* border: 1px solid black;*/
    /*text-align: center;*/
}
.form2{
    margin-top: 11px;
    margin-bottom: 15px;
}
.form2 .t{
    width: 250px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 11px;
}
.t:focus{
    border: none;
    border-bottom: 2px solid rgba(28,194,255,0.93);
}
.first::after{
    content: "*";
    color:red;
}
.gen{
    display: inline-block;
}.tt::after{
     content: "*";
     color:red;

 }
.form2 #check{
     margin-left: 293px;
    text-align: center;
 }
#gender{
    width: 255px;
    margin-left: 290px;
    margin-right: auto;
}
.f{
    width: 225px;
}
 .submit{

    margin-left: 390px;
 }
 #gender{
     width: 200px}

 .first{
     display: block;
     float: left;
     width: 280px;
     text-align: right;
 }
 .first2{
     display: block;
     float: left;
     width: 280px;
     text-align: right;
 }
 .count{
     width: 254px;
     margin-left: 10px;
 }
.form2 #comment{
    max-width: 250px;
}

